In [11]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [12]:
data = spark.read.format("csv").option("header", "true").load("/mnt/joel/covid-us-county")

In [13]:
data.limit(10).toPandas()

,fips,county,state,lat,long,date,cases,state_code,deaths
0,60,NA,American Samoa,-14.271,-170.132,2020-01-22,0,NA,0
1,60,NA,American Samoa,-14.271,-170.132,2020-01-23,0,NA,0
2,60,NA,American Samoa,-14.271,-170.132,2020-01-24,0,NA,0
3,60,NA,American Samoa,-14.271,-170.132,2020-01-25,0,NA,0
4,60,NA,American Samoa,-14.271,-170.132,2020-01-26,0,NA,0
5,60,NA,American Samoa,-14.271,-170.132,2020-01-27,0,NA,0
6,60,NA,American Samoa,-14.271,-170.132,2020-01-28,0,NA,0
7,60,NA,American Samoa,-14.271,-170.132,2020-01-29,0,NA,0
8,60,NA,American Samoa,-14.271,-170.132,2020-01-30,0,NA,0
9,60,NA,American Samoa,-14.271,-170.132,2020-01-31,0,NA,0

In [14]:
summary = data.describe().toPandas().set_index("summary").transpose()

In [15]:
print(summary)

summary      count                mean              stddev           min  \
fips        472845  32090.929560135344   17822.43038156937         10001
county      472845                None                None     Abbeville
state       472845                None                None       Alabama
lat         472845   37.16590280583528   8.661136246041597       -14.271
long        472845  -89.16037523030538  21.543757258895052  -100.0307514
date        472845                None                None    2020-01-22
cases       472845  197.52325180555997   2565.511604838583             0
state_code  472845                None                None            AK
deaths      472845  11.220120758388056  241.09450721139822             0

summary             max
fips                 NA
county          Ziebach
state           Wyoming
lat         69.31479216
long           145.6739
date         2020-06-14
cases               999
state_code           WY
deaths              999